<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="UpchainProxy" value="true"/>
    <add key="Proxy" value="proxy1:80"/>
    <add key="Log" value="D:/logs/HTTPHandlerLog/log.txt"/>
  </appSettings>
  <connectionStrings />
  <system.web>
    <compilation debug="true" />
    <authentication mode="Windows" />
    <!--
        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <!--<httpHandlers>
      <add verb="*" path="*" type="ReverseProxyTest.ReverseProxy, ReverseProxyTest" />
    </httpHandlers>-->
  </system.web>
  <system.webServer>
    <handlers>
      <add name="SyncHandler" verb="*" path="*" type="ReverseProxyTest.SyncHandler, ReverseProxyTest" />
    </handlers>
    <!--<modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule"/>
      <remove name="ModuleRewriter"/>
      <add name="ModuleRewriter" type="URLRewriter.ModuleRewriter, URLRewriter"/>
    </modules>-->
  </system.webServer>
</configuration>
